In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Ans :

Database is a data storage, Where you can store data/information


SQL
Data storage in tabuler form
Vertical Scaling(top to bottom)	
Use for General purpose	
Schemas Fixed	

NoSQL
Data storage in document/JSON form
Horizontal Scaling (left to right)
Use in key-value pair
Schemas Flexible

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Ans :
DDL (Data Defination Language) : actually consists of the SQL commands that can be used to define the database schema.

CREATE : It is used to create a new table in MySql database

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE test_table (ID INT, name VARCHAR, addr VARCHAR(300) )")
print('Done')

In [ ]:
Done
ALTER : It is used to rename table or update row

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE test_teable RENAME TO finaly_table")
print('Done')

In [ ]:
Done
TRUNCATE : It is used to remove/delete all data from a table without using WHERE clause.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE test_db.finaly_table")
print('Done')

In [ ]:
Done

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
Ans :
DML (Data Manuplation Language) : A list of MySql commands, that deal with the manuplation of data persent in database.

INSERT : It is used to add new record in table.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO finaly_table VALUES(1, 'Nazer', 'Patna')")
print('Done')

In [ ]:
UPDATE : It is used to update data in existing table

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("UPDATE TABLE finaly_table SET name='Imran' WHERE name='Nazer'")
print('Done')

In [ ]:
Done
DELETE : It used to delete/remove data from a table. whole data will remove without using WHERE clause.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("DELETE TABLE finaly_table WHERE id>10")

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
Ans :
DQL (Data Query Language) : It is used for performing queries on the data within schema objects.

SELECT: It is used to select data from existing table

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM test_db.test_table")

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Ans :

Primary Key : The PRIMARY KEY constraint uniquely identifies each record/row in a table.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Customer(id int PRIMARY, name VARCHAR, mobile INT)")

In [ ]:
FOREIGEN KEY : A FOREIGEN KEY in one table points to a PRIMARY KEY in other table.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Orders (OrderNo int PRIMARY KEY, name VARCHAR, FOREIGN KEY(OrderNo)  REFERENCES finaly_table(id) )")

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
if mydb.is_connected():
    print('Connection Success')
else:
    print('Connection failed')
mycursor = mydb.cursor()

In [ ]:

cursor() : cursor() method creates a cursor/pointer object which is used to interact with a MySQL database.

execute() : It is used to execute a SQL query on a MySQL database using a cursor object in Python.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
Ans :

Order of execution of SQL clauses
FROM
JOIN
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY
LIMIT